meta(charset="UTF-8")
script(src="//localhost:35729/livereload.js") //- [TODO] Remove in production

script(src="js/libs/utils.js")
script(src="js/scripts.js")

link(rel="stylesheet", href="css/screen.css", type="text/css")

meta(property="og:image", content="")
meta(property="og:url", content="")
meta(property="og:title", content="")
meta(property="og:description", content="")